<% include partials/header %>

<div class="ui main text container">
    <div class="ui huge header">Blog App</div>
    <div class="ui top attached segment">
        <div class="ui divided items">
            <% blogs.forEach(function(blog){ %>
                <div class="item">
                    <div class="image">
                      <img class="large ui image" src="<%= blog.image %>">  
                    </div>
                    <div class="content">
                      <h2 class="header"><%= blog.title %></h2>  
                      <div class="extra">
                          <%= blog.created.toDateString() %>
                      </div>
                      <div class="description">
                         <p>
                             
                          <%- blog.body.substring(0,100)%>
        ...
                        </p> 
                      </div>
                      <div class="description">
                          <a href="/blogs/<%= blog._id %>">Read More!</a>
                      </div>
                    </div>
                </div>
                
            <% }); %>
        </div>
    </div>
</div>
</div>

<% include partials/footer %>